table{
    background-color: #000;
    color: #fff;
    text-align: center;
}


body{
    /* background-color: rgba(0, 0, 255, 0.11); */
    background-color: #fff;
}

button{
    background-color: rgba(0, 0, 255, 0.534);
    border: 0;
    outline: 0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    color: #fff;
}

thead{
    background-color: #fff;
    color: #000;
}

#container{
    display: flex;
    justify-content: space-between;
    justify-items:center ;
}

#container div a{
  text-decoration: none;
  color: #000;
}

#container a button{
    background-color: #000;
}

/* #add{
    background-color: #000;
} */

#del{
    background-color: red;
}